name: CI/CD - Notification Service

on:
  push:
    branches: [ "main" ]
    paths:
      - 'notification-service/**' 
  pull_request:
    branches: [ "main" ]
    paths:
      - 'notification-service/**' 

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build and Test with Maven
      run: mvn -B clean install -DskipTests --file notification-service/pom.xml 

  build-and-push-docker:
    needs: build-and-test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: ./notification-service  
        file: ./notification-service/Dockerfile 
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/cnpm-notification-service:latest 